@media screen and (min-width: 960px){

	
}
.body {/* sayfaların gövdesi sayfalardaki bütün elementlerin içinde olduğu bölüm */
	
	
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	font-size:18px;
	font-weight:bold;
	word-spacing:10px;
}
img {
	border: 0;
}






/*sayfa başlığı*/
#header {
	background:#ffffff;
	height: 110px;
	width: 100%;
	padding: 10px;
	position: fixed;
	top:0;
	z-index: 9;
	opacity: 0.9;
  transition: all .2s;


	

}


#header > div {
	width: 940px;
	margin:0  auto;
	margin-top: 20px;
	padding:  auto;
	text-align: right;
	font-size: 22px;
font-family: 'Staatliches', cursive;	
}


/** navigation bölümündeki logonun konumlandırılması**/
#logo img{
	margin-left: 0px;
	float: left;
	max-width: 300px;



}
/** Navigation bölümünün ayarlanması **/
#navigation {
	display: block;
		list-style: none;
	overflow: hidden;
	text-align: center;
	float: right;
}


#navigation li {
	display: inline;
	width: 100px;
	position: relative;
	margin: 15px;
	font-size: 15px;
}
#navigation li:first-child {
	margin-left: 0;
}
#navigation li a {
	color: black;
	text-decoration: none;
	line-height: 50px;
	text-align: center;	
	
}
#navigation li a:hover, #navigation li.selected a {
	color: red;
	
}
#ana{

	padding-top: 00px;
padding-left: 20px;	
}
#ana h3{
	color: #191970;
}
#ana a{
	color: red;
}
	
#help{
width: 250px;
height: 25px;
background-color: #B71C1C;
position: fixed;
bottom:0px;
right: 0px;
z-index: 999;
color: white;
text-align: center;
}
#help p{
	font-size: 16px;
}
.kapa{
	transition: all .5s;
	bottom: 0px !important;


}

#kutu{
transition: all .5s;

width: 250px;
height:250px;
background-color: grey;
position: fixed;
bottom:-250px;
right: 0px;
z-index: 998;
}
#mesaj {
	border-color: black;
	float:left;
	padding-bottom: 165px;
	margin-top: 5px;
	margin-left: 5px;

height: 190px;
width: 240px;
}
#but{
	width: 240px;
	height: 30px;
	margin-left: 5px;
	background-color: #363636;
	color: white;
	border-color: black;

}

.mySlides {
	display:none ;


}
img {vertical-align: middle;}

.slideshow-container {
  max-width:90%;
  height: 450px;
  position: sticky;
  margin-left: 56px;
  margin-top: 190px;
  font-family: 'Comic Neue', cursive;
  overflow: auto;

}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 11px;
  margin-top: -22px;
  color: rgb(3, 76, 99);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: red;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: none;
  color: white;
}
.text {
    color:red;
    font-size: 30px;
    padding-bottom:0px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom:390px;
    left:-35%;
font-family: 'Staatliches', cursive;	
}
.numbertext {
  color:grey;
  font-size:10px;
  padding: 6px 08px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
  font-family: 'Comic Neue', cursive;


}

.active, .dot:hover {
  background-color: white;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* hakkında bölümündeki yazıların konumlandırılması ve boyutlandırılması*/
#contents {
	background: #ffffff;
	text-align :center;
	font-family: "Roboto", Helvetica, Arial, sans-serif;

	
}




}
      
 #contents div img{
	max-width: 450px;


}
#contents > div {
	margin-top:210px;

	text-align: center;	
	font-family: "Roboto", Helvetica, Arial, sans-serif;


}
#contents h3 {
	color:darkblue;
	font-size: 16px;
	text-align: center;
}
#contents p {
	color: black;
	font-size: 15px;
	line-height: 24px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	font-family: "Roboto", Helvetica, Arial, sans-serif;

}
#contents p a {
	color: #aa9387;
}
#contents a:hover {
	color: #ce8763;
}
/** index.html sayfasındaki fotoğrafın konumlandırılması **/
#contents div#adbox {
text-align: center;
}
#adbox img {
	margin-bottom: auto;
	max-width: 100%;
	
}
#adbox p {
	width: 600px;
	text-align: center;
	text-indent: 40px;
}
/** Featured **/
#contents div#featured {
	background: #F5DEB3;
	width: 100%;
	margin-bottom: 60px;
	padding: 30px 0 24px;
	text-align: center;
}
#featured ul {
	display: inline-block;
	list-style: none;
	width: 960px;
	margin: 0;
	padding: 0;
}
#featured ul li {
	float: left;
	width: 300px;
	margin: 0 10px;
}
#featured p {
	padding: 0;
	text-align: center;
}


/** Hakkında bölümü**/
#contents div#about {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	text-align: center;
	padding-top: 0px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom:30px;
	margin-top:115px;


}
#about h3 {
	text-align: center;
	font-size: 25px;
}
#about p {
	text-align: center;
	font-size: 20px;
}

	
#varlik > div img {
width: 700px;

}
/** MAIN **/
#main {
	float: left;
	min-height: 100px;
	width: 520px;
	margin: 0 30px 0 100px;
}
#main > div {
	background: #F5DEB3;
	display: inline-block;
	margin: 0 0 18px;
}
#main > div h3 {
	margin: 30px 0 12px;
}
#main > div p {
	text-align: justify;
}
#sidebar {
	float: left;
	background: #F5DEB3;
	min-height: 848px;
	width: 180px;
	margin: 30px 0 0;
	padding-left: 21px;
}
#sidebar h3 {
	margin: 15px 0 12px;
	padding-left: 40px;
}
#sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#sidebar > ul li {
	margin: 0 0 24px;
}
#sidebar > ul li a {
	color: #aa9387;
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
}
#sidebar ul li > div {
	display: none;
	width: 80px;
	padding-left: 40px;
}
#sidebar ul li:hover > div {
	display: block;
}
#sidebar ul li > div a {
	color: #ffffff;
	font-size: 12px;
	display: block;
}
#sidebar ul li > div a:hover {
	color: #ce8763;
}

/** İletişim kutusunun ayarlandığı bölüm**/
* {
    margin: 0;
    padding: 0px;
    padding-top: 0px;
    box-sizing: border-box;
   
}
 
body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 13px;
    line-height: 30px;
    color: #888;
    background: #ffffff;
}
 
.container {

	width: 800px;
	max-height: 800px;
    padding-top:100px;
    margin-left: 300px;
    margin-bottom:100px;
}
 
#contact input[type="text"],
#contact input[type="email"],
#contact textarea,
#contact button[type="submit"] {
    font: 500 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}
#maps{
	padding-left:100px;

}
#bilgi {
	margin-left:110px;
	margin-top:150px;
	color: black;
	margin-right: 0PX;
}
 
#contact {
    background:grey;
    padding: 25px;
    margin: 100px ;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    color: white;
}
 
#contact h2 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
}
 
.form-control{
    border: none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}
 
#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: white;
    margin: 0 0 5px;
    padding: 10px;
}
 
#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.4s ease-in-out;
    -moz-transition: border-color 0.4s ease-in-out;
    transition: border-color 0.4s ease-in-out;
    border: 1px solid #aaa;
}
 
#contact textarea {
    height: 120px;
    max-width: 100%;
    resize: none;
    color: black;
}
 
#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background:#363636;
    color: white;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}
 
#contact button[type="submit"]:hover {
    background: #355C7D;
    -webkit-transition: background 0.4s ease-in-out;
    -moz-transition: background 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}
 
#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
 
#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}
/*------------------------------ FOOTER ------------------------------*/
#footer {
	margin-bottom:0px;
	background:#002854;
	padding-bottom:26px;
	padding-top: 40px;
}

#footer p {
	float: left;
text-align: left;
	color: white;
	font-size:13px;
	line-height:13px;
	padding-left: 20px;
}

#footer a{	
	margin-top: 0px;

	float: right;
	color: white;
	font-size:12px;
	line-height: 13px;
	padding-right: 10px;

}
